.body,
.body * {
  box-sizing: border-box;
}

.body {
  background: var(--additional-colors-white-1, #fefefe);
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: start;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.hidden {
  display: none;
}

.return__btn {
  background: var(--black2, #323232);
  border-radius: 50%;
  border: solid 1px #ffffff;
  width: 46px;
  height: 46px;
  position: fixed;
  z-index: 10;
  right: 30px;
  bottom: 30px;
  cursor: pointer;
}

.return__btn img {
  width: 100%;
  height: 30%;
  position: absolute;
  right: 0;
  left: 0;
  transform: rotate(-100grad);
}

.main-menu {
  background: #ffffff;
  padding: 16px 64px 16px 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  width: 100%;
}

.menu-title {
  display: none;
  color: var(--black, #000000);
  font-family: "Manrope-Regular", sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  letter-spacing: 0.002em;
  font-weight: 400;
  cursor: pointer;
}

.logo {
  min-width: 132px;
  min-height: 68px;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.union {
  width: 131px;
  height: 65px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}

.black {
  width: 100%;
  height: 100%;
  position: absolute;
  right: -1.35%;
  left: 1.35%;
  bottom: -99.46%;
  top: 99.46%;
  transform: translate(0px, -13.38px);
  overflow: visible;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex: 1;
  height: 22px;
  max-width: 520px;
  gap: 40px;
}

.menu__subBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex: 1;
  max-width: 520px;
  gap: 40px;
}

.link {
  flex-shrink: 0;
  flex: 1;
  width: auto;
  /* height: 25px; */
  padding: 10px;
}

.link {
  color: var(--black, #000000);
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.002em;
  font-weight: 400;
  cursor: pointer;
}

.link:hover{
  background: #f1f1f1;
  border-radius: 8px;
}


.buttons {
  display: flex;
  flex-direction: row;
  gap: 78px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  position: relative;
}

.buttons .div div {
  cursor: pointer;
}

.buttons .setting {
  display: none;
  cursor: pointer;
  border-radius: 48px;
  border: 1px solid #000;
  width: 48px;
  height: 48px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.icon-facebook {
  border-radius: 48px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.icon-fb {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}

.group {
  width: 54.07%;
  height: 100%;
  position: absolute;
  right: 24.51%;
  left: 21.43%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}

.icon-in {
  border-radius: 48px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.in {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}

.group-49 {
  width: 91.67%;
  height: 91.67%;
  position: absolute;
  right: 4.17%;
  left: 4.17%;
  bottom: 4.17%;
  top: 4.17%;
  overflow: visible;
}

.icon-insta {
  border-radius: 48px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.icon-instagram {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}

.icon-yt {
  border-radius: 48px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.icon-yt2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}

.language {
  border-radius: 24px;
  border: 1px solid #000;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  width: 80px;
  background: #fff;
}

.current-language {
  color: #000;
  font-family: var(--btn-text-font-family, "Manrope-SemiBold", sans-serif);
  font-size: var(--btn-text-font-size, 16px);
  line-height: var(--btn-text-line-height, 28px);
  letter-spacing: var(--btn-text-letter-spacing, 0.02em);
  font-weight: var(--btn-text-font-weight, 600);
}

.language-options {
  display: none;
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  right: 0;
  background: #fff;
  border: 1px solid #000;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 2;
  color: #000;
  font-family: var(--btn-text-font-family, "Manrope-SemiBold", sans-serif);
  font-size: var(--btn-text-font-size, 16px);
  line-height: var(--btn-text-line-height, 28px);
  letter-spacing: var(--btn-text-letter-spacing, 0.02em);
  font-weight: var(--btn-text-font-weight, 600);
}

.language-options div {
  padding: 8px 12px;
  cursor: pointer;
}
.language-options-mob {
  display: none;
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  right: 0;
  background: #fff;
  border: 1px solid #000;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 2;
  color: #000;
  font-family: var(--btn-text-font-family, "Manrope-SemiBold", sans-serif);
  font-size: var(--btn-text-font-size, 16px);
  line-height: var(--btn-text-line-height, 28px);
  letter-spacing: var(--btn-text-letter-spacing, 0.02em);
  font-weight: var(--btn-text-font-weight, 600);
}

.language-options-mob div {
  padding: 8px 12px;
  cursor: pointer;
}

.language-options div:hover {
  background: #f1f1f1;
  border-radius: 8px;
}

.arrow-down {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}

.seperator {
  border-style: solid;
  border-color: #b8c1cd;
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
  left: 64px;
  right: 64px;
}

.header {
  align-self: stretch;
  flex-shrink: 0;
  height: 764px;
  position: relative;
  overflow: hidden;
}

.background {
  background: #ffffff;
  width: 1707px;
  height: 764px;
  position: absolute;
  left: calc(50% - 960px);
  top: 0px;
}

.button {
  cursor: pointer;
  width: 238px;
  height: 66px;
}

.div2 {
  color: var(--black2, #323232);
  text-align: center;
  font-family: var(--btn-text-font-family, "Manrope-SemiBold", sans-serif);
  font-size: var(--btn-text-font-size, 16px);
  line-height: var(--btn-text-line-height, 28px);
  letter-spacing: var(--btn-text-letter-spacing, 0.02em);
  font-weight: var(--btn-text-font-weight, 600);
  position: absolute;
  right: 28.57%;
  left: 14.29%;
  width: 57.14%;
  bottom: 28.79%;
  top: 28.79%;
  height: 42.42%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.rectangle-8 {
  border-radius: 100px;
  border-style: solid;
  border-color: var(--black2, #323232);
  border-width: 2px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  pointer-events: none;
}

.ellipse-8 {
  background: var(--black2, #323232);
  border-radius: 50%;
  width: 16.43%;
  height: 69.7%;
  position: absolute;
  right: 3.57%;
  left: 80%;
  bottom: 15.15%;
  top: 15.15%;
  pointer-events: none;
}

.icon-button-arrow-1 {
  width: 7.14%;
  height: 24.24%;
  position: absolute;
  right: 8.21%;
  left: 84.64%;
  bottom: 37.88%;
  top: 37.88%;
  overflow: visible;
  pointer-events: none;
}

.body2 {
  color: var(--black, #000000);
  text-align: left;
  font-family: var(--subtitle-1-font-family, "Manrope-Medium", sans-serif);
  font-size: var(--subtitle-1-font-size, 18px);
  line-height: var(--subtitle-1-line-height, 28px);
  font-weight: var(--subtitle-1-font-weight, 500);
  position: absolute;
  width: 300px;
  height: 84px;
}

.divide {
  background: var(--blue-1, #192396);
  width: 60px;
  height: 4px;
  display: flex;
}

.person-screen-images {
  width: 50%;
  height: 764px;
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  overflow: hidden;
}

.firefly-hi-tech-1-2 {
  background: linear-gradient(85.85deg,
      rgba(255, 255, 255, 0) 52.409929037094116%,
      rgba(255, 255, 255, 0.8) 66.33894443511963%);
  width: 100%;
  height: 100%;
  bottom: -199px;
  object-fit: cover;
}

.rectangle-39986 {
  background: #ffffff;
  width: 180px;
  height: 962px;
  position: absolute;
  left: -90px;
  top: -45px;
  filter: blur(35px);
}

.title {
  color: var(--black-2, #323232);
  text-align: left;
  font-family: var(--h1-font-family, "Montserrat-Black", sans-serif);
  font-size: var(--h1-font-size, 62px);
  line-height: var(--h1-line-height, 72px);
  font-weight: var(--h1-font-weight, 900);
  text-transform: uppercase;
  width: 910px;
  height: 216px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  word-wrap: break-word
}

.advantages {
  padding: 40px 0px 40px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.content {
  padding: 0px 0px 0px 64px;
  display: flex;
  flex-direction: row;
  gap: 93px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  position: relative;
  flex-wrap: wrap;
}

.title2 {
  padding: 44px 0px 44px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.div3 {
  color: var(--blue-1, #192396);
  text-align: left;
  font-family: var(--h2-font-family, "Montserrat-Regular", sans-serif);
  font-size: var(--h2-font-size, 48px);
  line-height: var(--h2-line-height, 54px);
  letter-spacing: var(--h2-letter-spacing, 0.02em);
  font-weight: var(--h2-font-weight, 400);
  text-transform: uppercase;
  position: relative;
  width: 360px;
  height: 104px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.body3 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex: 1;
  position: relative;
}

._10 {
  border-style: solid;
  border-color: var(--blue-1, #192396);
  border-width: 0px 0px 0px 1px;
  padding: 30px 0px 0px 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 350px;
  height: 280px;
  position: relative;
}

._102 {
  color: var(--blue-1, #192396);
  text-align: left;
  font-family: var(--numbers-font-family, "Manrope-Light", sans-serif);
  font-size: var(--numbers-font-size, 110px);
  line-height: var(--numbers-line-height, 140px);
  font-weight: var(--numbers-font-weight, 300);
  text-transform: uppercase;
  position: relative;
}

.div4 {
  color: var(--black-2, #323232);
  text-align: left;
  font-family: var(--description-font-family, "Manrope-Regular", sans-serif);
  font-size: var(--description-font-size, 16px);
  line-height: var(--description-line-height, 20px);
  font-weight: var(--description-font-weight, 400);
  position: relative;
  width: 312px;
}

._15 {
  border-style: solid;
  border-color: var(--blue-1, #192396);
  border-width: 0px 0px 0px 1px;
  padding: 30px 0px 0px 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 350px;
  height: 280px;
  position: relative;
}

._80 {
  border-style: solid;
  border-color: var(--blue-1, #192396);
  border-width: 0px 0px 0px 1px;
  padding: 30px 0px 0px 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 350px;
  height: 280px;
  position: relative;
}

._25 {
  border-style: solid;
  border-color: var(--blue-1, #192396);
  border-width: 0px 0px 0px 1px;
  padding: 30px 0px 0px 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 350px;
  height: 280px;
  position: relative;
}

.spacer-title {
  background: var(--light-grey, #f7f8f9);
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  padding: 44px 64px 44px 64px;
  gap: 20px;
}

.div5,
.div6 {
  color: var(--black2, #323232);
  text-align: left;
  font-family: var(--slogan-font-family, "Manrope-ExtraLight", sans-serif);
  font-size: var(--slogan-font-size, 110px);
  letter-spacing: var(--slogan-letter-spacing, 2.2px);
  font-weight: var(--slogan-font-weight, 250);
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
}

.div6 {
  left: 305px;
}

.product {
  padding: 0px 0px 0px 64px;
  display: flex;
  flex-direction: row;
  gap: 68px;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.inner-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content2 {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}

.header2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.divide2 {
  background: var(--blue-1, #192396);
  flex-shrink: 0;
  width: 60px;
  height: 4px;
  position: relative;
}

.title3 {
  color: var(--black, #000000);
  text-align: left;
  font-family: var(--subtitle-2-font-family, "Manrope-Bold", sans-serif);
  font-size: var(--subtitle-2-font-size, 20px);
  line-height: var(--subtitle-2-line-height, 28px);
  font-weight: var(--subtitle-2-font-weight, 700);
  position: relative;
  width: 776px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.dispatcher {
  display: flex;
  flex-direction: row;
  gap: 36px 118px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 735px;
  position: relative;
}

.title4 {
  color: var(--blue-1, #192396);
  text-align: left;
  font-family: var(--h3-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--h3-font-size, 38px);
  line-height: var(--h3-line-height, 120%);
  font-weight: var(--h3-font-weight, 700);
  position: relative;
  width: 672px;
}

.text-block {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 308px;
  position: relative;
}

.div7 {
  color: var(--black, #000000);
  text-align: left;
  font-family: var(--subtitle-2-font-family, "Manrope-Bold", sans-serif);
  font-size: var(--subtitle-2-font-size, 20px);
  line-height: var(--subtitle-2-line-height, 28px);
  font-weight: var(--subtitle-2-font-weight, 700);
  position: relative;
  align-self: stretch;
}

.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.list li {
  color: var(--black-2, #323232);
  font-family: var(--description-font-family, "Manrope-Regular", sans-serif);
  font-size: var(--description-font-size, 16px);
  line-height: var(--description-line-height, 20px);
  font-weight: var(--description-font-weight, 400);
  position: relative;
}

.list li::before {
  content: '\2022';
  color: blue;
  font-size: 1.2em;
}

.white-screen {
  flex-shrink: 0;
  max-width: 1251px;
  height: auto;
  position: relative;
  object-fit: cover;
}

.commercial-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.dark-screen {
  width: 100%;
  max-width: 1060px;
  height: auto;
  position: relative;
  object-fit: cover;
  left: -20%;
}

.header-text-content {
  padding: 0px 47px 0px 64px;
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  z-index: 2;
  top: 0px;
  bottom: 0px;
  justify-content: center;
}

.divide {
  position: relative;
  bottom: 22px;
}

.title {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}

.body2 {
  position: relative;
  width: 50%;
  height: auto;
  padding: 44px 0px 44px 0px;
}

.button {
  position: relative;
  width: 280px;
  height: 66px;
  z-index: 2;
}

.v-info {
  display: flex;
  flex-direction: column;
  gap: 120px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 50%;
  left: -10%;
}

.commission {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 433px;
  position: relative;
}

.title5 {
  color: var(--blue-1, #192396);
  text-align: left;
  font-family: var(--h3-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--h3-font-size, 38px);
  line-height: var(--h3-line-height, 120%);
  font-weight: var(--h3-font-weight, 700);
  position: relative;
  align-self: stretch;
}

.body4 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 356px;
  position: relative;
}

.smart {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 432px;
  position: relative;
}

.body5 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 432px;
  position: relative;
}

.management-info {
  padding: 0px 0px 0px 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 660px;
  position: relative;
  justify-content: space-between;
  width: 100%;
}

.management-info-text-box {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}

.h-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  position: relative;
  padding-bottom: 32px;
}

.management {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 734px;
  position: relative;
}

.body6 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.digitalization {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 604px;
  position: relative;
}

.body7 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.text-block2 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.mobile-images {
  z-index: 1;
  margin: 0 0 0 -112px;
  flex-shrink: 0;
  width: 497px;
  height: 660px;
  position: relative;
  object-fit: cover;
}

.consult {
  align-self: stretch;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: hidden;
}

.background2 {
  width: 100%;
  height: 1172px;
  position: absolute;
  top: -126px;
  object-fit: cover;
}

.v-group {
  position: absolute;
  inset: 0;
}

.body8 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: space-around;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 378px;
}

.check-up {
  color: var(--blue-1, #192396);
  text-align: left;
  font-family: var(--h3-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--h3-font-size, 38px);
  line-height: var(--h3-line-height, 120%);
  font-weight: var(--h3-font-weight, 700);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.check-up2 {
  color: var(--black, #000000);
  text-align: left;
  font-family: var(--subtitle-2-font-family, "Manrope-Bold", sans-serif);
  font-size: var(--subtitle-2-font-size, 20px);
  line-height: var(--subtitle-2-line-height, 28px);
  font-weight: var(--subtitle-2-font-weight, 700);
  opacity: 0.800000011920929;
  position: relative;
  align-self: stretch;
}

.text2 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 378px;
  position: relative;
}

.check-up3 {
  color: var(--blue-1, #192396);
  text-align: left;
  font-family: var(--h3-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--h3-font-size, 38px);
  line-height: var(--h3-line-height, 120%);
  font-weight: var(--h3-font-weight, 700);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
}

.industries {
  padding: 80px 64px 80px 64px;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-around;
  flex-wrap: wrap;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.description {
  padding: 72px 0px 80px 0px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.div10 {
  color: var(--blue-1, #192396);
  text-align: left;
  font-family: var(--h2-font-family, "Montserrat-Regular", sans-serif);
  font-size: var(--h2-font-size, 48px);
  line-height: var(--h2-line-height, 54px);
  letter-spacing: var(--h2-letter-spacing, 0.02em);
  font-weight: var(--h2-font-weight, 400);
  text-transform: uppercase;
  position: relative;
  width: 282px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.div11 {
  color: var(--additional-colors-black1, #0d0f11);
  text-align: left;
  font-family: var(--subtitle-2-font-family, "Manrope-Bold", sans-serif);
  font-size: var(--subtitle-2-font-size, 20px);
  line-height: var(--subtitle-2-line-height, 28px);
  font-weight: var(--subtitle-2-font-weight, 700);
  position: relative;
  width: 302px;
  height: 84px;
}

.palette {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.title6 {
  background: rgba(255, 255, 255, 0.9);
  padding: 18px 10px 10px 18px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1339px;
  height: 80px;
  position: relative;
}

.div12 {
  color: var(--black-2, #323232);
  text-align: left;
  font-family: var(--h3-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--h3-font-size, 38px);
  line-height: var(--h3-line-height, 120%);
  font-weight: var(--h3-font-weight, 700);
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.div13 {
  color: var(--black-2, #323232);
  text-align: center;
  font-family: var(--h3-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--h3-font-size, 38px);
  line-height: var(--h3-line-height, 120%);
  font-weight: var(--h3-font-weight, 700);
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div14 {
  color: var(--black-2, #323232);
  text-align: right;
  font-family: var(--h3-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--h3-font-size, 38px);
  line-height: var(--h3-line-height, 120%);
  font-weight: var(--h3-font-weight, 700);
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  white-space: nowrap;
}

.images-containers {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 1339px;
  position: relative;
}

.image1 {
  border-radius: 8px;
  flex-shrink: 0;
  max-width: 284px;
  height: 316px;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}

.image2 {
  border-radius: 8px;
  flex: 1;
  height: 316px;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}

.image3 {
  border-radius: 8px;
  flex-shrink: 0;
  max-width: 584px;
  height: 316px;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}

.image4 {
  border-radius: 8px;
  flex-shrink: 0;
  width: 433px;
  height: 316px;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}

.image5 {
  border-radius: 8px;
  flex-shrink: 0;
  width: 284px;
  height: 316px;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}

.image6 {
  border-radius: 8px;
  flex: 1;
  height: 316px;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}

.model {
  padding: 80px 64px;
  display: flex;
  flex-direction: row;
  gap: 94px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header4 {
  padding: 44px 0;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 358px;
  position: relative;
}

.title7 {
  color: var(--blue-1, #192396);
  text-align: left;
  font-family: var(--h2-font-family, "Montserrat-Regular", sans-serif);
  font-size: var(--h2-font-size, 48px);
  line-height: var(--h2-line-height, 54px);
  letter-spacing: var(--h2-letter-spacing, 0.02em);
  font-weight: var(--h2-font-weight, 400);
  text-transform: uppercase;
  width: 360px;
  height: 104px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.body9 {
  display: flex;
  flex-direction: row;
  gap: 22px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.block-info {
  width: 417px;
  border-style: solid;
  border-color: var(--blue-1, #192396);
  border-width: 0 0 0 1px;
  padding: 30px 15px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 280px;
  box-sizing: border-box;
}

._103 {
  color: var(--blue-1, #192396);
  text-align: left;
  font-family: var(--h3-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--h3-font-size, 38px);
  line-height: var(--h3-line-height, 120%);
  font-weight: var(--h3-font-weight, 700);
  position: relative;
  align-self: stretch;
}

.div15 {
  color: var(--additional-colors-black1, #0d0f11);
  text-align: left;
  font-family: var(--description-font-family, "Manrope-Regular", sans-serif);
  font-size: var(--description-font-size, 16px);
  line-height: var(--description-line-height, 20px);
  font-weight: var(--description-font-weight, 400);
  position: relative;
  width: 312px;
}

.form {
  display: flex;
  background: var(--light-grey, #f7f8f9);
  width: 100%;
  align-self: stretch;
  flex-shrink: 0;
  min-height: 594px;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.description2 {
  padding: 80px 0px 0px 64px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 815px;
}

.form2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
  padding: 30px 30px 30px 30px;
}

.button2 {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 15px 30px;
  background: #000;
  color: #fff;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
  border: 2px solid #000;
  text-decoration: none;
  transition: background 0.3s, color 0.3s;
}

.button2:hover {
  background: #fff;
  color: #000;
}

.button2 img {
  margin-left: 10px;
  width: 16px;
  height: 16px;
}


.header5 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 452px;
  position: relative;
}

.title8 {
  color: var(--black2, #323232);
  text-align: left;
  font-family: var(--h1-font-family, "Montserrat-Black", sans-serif);
  font-size: var(--h1-font-size, 62px);
  line-height: var(--h1-line-height, 72px);
  font-weight: var(--h1-font-weight, 900);
  text-transform: uppercase;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.body10 {
  color: var(--additional-colors-black1, #0d0f11);
  text-align: left;
  font-family: var(--subtitle-2-font-family, "Manrope-Bold", sans-serif);
  font-size: var(--subtitle-2-font-size, 20px);
  line-height: var(--subtitle-2-line-height, 28px);
  font-weight: var(--subtitle-2-font-weight, 700);
  position: relative;
  align-self: stretch;
}

.full-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 433px;
  position: relative;
}

.form3 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.input {
  border-style: solid;
  border-color: var(--black-2, #323232);
  border-width: 0px 0px 1px 0px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  color: #BBBBBB;
  font-size: 16px;
  font-family: Manrope;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.32px;
  word-wrap: break-word
}

.name {
  color: var(--grey, #bbbbbb);
  text-align: center;
  font-family: var(--btn-text-font-family, "Manrope-SemiBold", sans-serif);
  font-size: var(--btn-text-font-size, 16px);
  line-height: var(--btn-text-line-height, 28px);
  letter-spacing: var(--btn-text-letter-spacing, 0.02em);
  font-weight: var(--btn-text-font-weight, 600);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirmation {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 341px;
  position: relative;
}

.privacy {
  display: none;
}

.privacy:checked + .rect::after{
  transform: scale(1);
}

.checkbox-light {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
}

.rect {
  background: var(--white, #ffffff);
  border-radius: 2px;
  border-style: solid;
  border-color: var(--grey, #bbbbbb);
  border-width: 1px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;

  cursor: pointer;
}

.rect::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 2px;
  left: 2px;
  background-color: #7a956b;
  border-radius: 2px;
  transition: transform 0.5s ease 0s;
  transform: scale(0);
}


.privacy-policy {
  color: var(--grey, #bbbbbb);
  text-align: left;
  font-family: var(--hint-font-family, "Manrope-Regular", sans-serif);
  font-size: var(--hint-font-size, 12px);
  line-height: var(--hint-line-height, 20px);
  font-weight: var(--hint-font-weight, 400);
  position: relative;
  flex: 1;

  cursor: pointer;
}

.button2 {
  flex-shrink: 0;
  width: 280px;
  height: 66px;
  position: relative;
}

.icon-button-arrow-12 {
  width: 7.14%;
  height: 24.24%;
  position: absolute;
  right: 8.21%;
  left: 84.64%;
  bottom: 37.88%;
  top: 37.88%;
  overflow: visible;
}

.footer {
  background: var(--black-2, #323232);
  padding: 80px 64px 80px 64px;
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 282px;
  position: relative;
  flex: 1;
}

.introduction {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.e-dco-logo-white {
  flex-shrink: 0;
  width: 72px;
  height: 48px;
  position: relative;
}

.group-6 {
  width: 98.33%;
  height: 87.5%;
  position: absolute;
  right: 0.83%;
  left: 0.83%;
  bottom: 6.25%;
  top: 6.25%;
  overflow: visible;
}

.copywrite2 {
  width: 10%;
  height: 15%;
  position: absolute;
  right: 0.83%;
  left: 89.17%;
  bottom: 78.75%;
  top: 6.25%;
}

.black2 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: -100%;
  top: 100%;
  transform: translate(0px, -7.2px);
  overflow: visible;
}

.contact2 {
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 282px;
  position: relative;
}

.light-tel {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.icons {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
}

.black3 {
  width: 68.79%;
  height: 68.75%;
  position: absolute;
  right: 15.59%;
  left: 15.62%;
  bottom: -52.13%;
  top: 83.38%;
  transform: translate(0px, -22px);
  overflow: visible;
}

.text3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}

.tel {
  color: #ffffff;
  text-align: left;
  font-family: var(--hint-font-family, "Manrope-Regular", sans-serif);
  font-size: var(--hint-font-size, 12px);
  line-height: var(--hint-line-height, 20px);
  font-weight: var(--hint-font-weight, 400);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

._123-456-187 {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: var(--subtitle-2-font-family, "Manrope-Bold", sans-serif);
  font-size: var(--subtitle-2-font-size, 20px);
  line-height: var(--subtitle-2-line-height, 28px);
  font-weight: var(--subtitle-2-font-weight, 700);
  position: relative;
  align-self: stretch;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-overflow: ellipsis;
  overflow: hidden;
}

.light-mail {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  cursor: pointer;
}

.light-mail div {
  pointer-events: none;
}

.black4 {
  width: 81.25%;
  height: 53.99%;
  position: absolute;
  right: 9.38%;
  left: 9.38%;
  bottom: -35.55%;
  top: 81.56%;
  transform: translate(0px, -17.28px);
  overflow: visible;
}

.mail {
  color: #ffffff;
  text-align: left;
  font-family: var(--hint-font-family, "Manrope-Regular", sans-serif);
  font-size: var(--hint-font-size, 12px);
  line-height: var(--hint-line-height, 20px);
  font-weight: var(--hint-font-weight, 400);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.info-edco-com-ua {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: var(--subtitle-2-font-family, "Manrope-Bold", sans-serif);
  font-size: var(--subtitle-2-font-size, 20px);
  line-height: var(--subtitle-2-line-height, 28px);
  font-weight: var(--subtitle-2-font-weight, 700);
  position: relative;
  align-self: stretch;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-overflow: ellipsis;
  overflow: hidden;
}

.light-address {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.black5 {
  width: 54.05%;
  height: 81.25%;
  position: absolute;
  right: 23.38%;
  left: 22.57%;
  bottom: -70.95%;
  top: 89.7%;
  transform: translate(0px, -26px);
  overflow: visible;
}

.address {
  color: #ffffff;
  text-align: left;
  font-family: var(--hint-font-family, "Manrope-Regular", sans-serif);
  font-size: var(--hint-font-size, 12px);
  line-height: var(--hint-line-height, 20px);
  font-weight: var(--hint-font-weight, 400);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.div16 {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: var(--subtitle-2-font-family, "Manrope-Bold", sans-serif);
  font-size: var(--subtitle-2-font-size, 20px);
  line-height: var(--subtitle-2-line-height, 28px);
  font-weight: var(--subtitle-2-font-weight, 700);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menus {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 2;
  gap: 12px;
  position: relative;
}

.menus div {
  max-width: 215px;
}

.menus div .items {
  cursor: pointer;
}

.product2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  position: relative;
}

.div17 {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: var(--subtitle-2-font-family, "Manrope-Bold", sans-serif);
  font-size: var(--subtitle-2-font-size, 20px);
  line-height: var(--subtitle-2-line-height, 28px);
  font-weight: var(--subtitle-2-font-weight, 700);
  position: relative;
  align-self: stretch;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.div18 {
  color: var(--grey, #bbbbbb);
  text-align: left;
  font-family: var(--btn-text-font-family, "Manrope-SemiBold", sans-serif);
  font-size: var(--btn-text-font-size, 16px);
  line-height: var(--btn-text-line-height, 28px);
  letter-spacing: var(--btn-text-letter-spacing, 0.02em);
  font-weight: var(--btn-text-font-weight, 600);
  position: relative;
  align-self: stretch;
}

.smart2 {
  color: var(--grey, #bbbbbb);
  text-align: left;
  font-family: var(--btn-text-font-family, "Manrope-SemiBold", sans-serif);
  font-size: var(--btn-text-font-size, 16px);
  line-height: var(--btn-text-line-height, 28px);
  letter-spacing: var(--btn-text-letter-spacing, 0.02em);
  font-weight: var(--btn-text-font-weight, 600);
  position: relative;
  align-self: stretch;
}

.consulting {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  position: relative;
}

.check-up4 {
  color: var(--grey, #bbbbbb);
  text-align: left;
  font-family: var(--btn-text-font-family, "Manrope-SemiBold", sans-serif);
  font-size: var(--btn-text-font-size, 16px);
  line-height: var(--btn-text-line-height, 28px);
  letter-spacing: var(--btn-text-letter-spacing, 0.02em);
  font-weight: var(--btn-text-font-weight, 600);
  position: relative;
  align-self: stretch;
}

.industries2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  position: relative;
}

.div19 {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: var(--subtitle-2-font-family, "Manrope-Bold", sans-serif);
  font-size: var(--subtitle-2-font-size, 20px);
  line-height: var(--subtitle-2-line-height, 28px);
  font-weight: var(--subtitle-2-font-weight, 700);
  position: relative;
}

.div20 {
  color: var(--grey, #bbbbbb);
  text-align: left;
  font-family: var(--btn-text-font-family, "Manrope-SemiBold", sans-serif);
  font-size: var(--btn-text-font-size, 16px);
  line-height: var(--btn-text-line-height, 28px);
  letter-spacing: var(--btn-text-letter-spacing, 0.02em);
  font-weight: var(--btn-text-font-weight, 600);
  position: relative;
}

.model2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex: 1;
  position: relative;
}

.bottom-bar {
  border-style: solid;
  border-color: var(--grey, #bbbbbb);
  border-width: 1px 0px 0px 0px;
  padding: 24px 0px 24px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.items2 {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}

._2024-all-rights-reserved {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: var(--hint-font-family, "Manrope-Regular", sans-serif);
  font-size: var(--hint-font-size, 12px);
  line-height: var(--hint-line-height, 20px);
  font-weight: var(--hint-font-weight, 400);
  position: relative;
}

.div21 {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: var(--hint-font-family, "Manrope-Regular", sans-serif);
  font-size: var(--hint-font-size, 12px);
  line-height: var(--hint-line-height, 20px);
  font-weight: var(--hint-font-weight, 400);
  position: relative;
}

.social-icons {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  position: relative;
}

.social-icons div {
  cursor: pointer;
}

.icon-facebook2 {
  border-radius: 48px;
  border-style: solid;
  border-color: var(--white, #ffffff);
  border-width: 1px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.icon-fb2 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
}

.group2 {
  width: 54.07%;
  height: 100%;
  position: absolute;
  right: 24.51%;
  left: 21.43%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}

.icon-in2 {
  border-radius: 48px;
  border-style: solid;
  border-color: var(--white, #ffffff);
  border-width: 1px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.in2 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
}

.group-492 {
  width: 91.67%;
  height: 91.67%;
  position: absolute;
  right: 4.17%;
  left: 4.17%;
  bottom: 4.17%;
  top: 4.17%;
  overflow: visible;
}

.icon-insta2 {
  border-radius: 48px;
  border-style: solid;
  border-color: var(--white, #ffffff);
  border-width: 1px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.icon-instagram2 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}

.icon-yt3 {
  border-radius: 48px;
  border-style: solid;
  border-color: var(--white, #ffffff);
  border-width: 1px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.icon-yt4 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}

.consult-content {
  display: flex;
  gap: 68px;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 80px 64px 80px 64px;
}

.rectangle-8 {
  background-color: #fff;
}

@media (max-width: 1400px) {
  .management-info {
    align-items: start;
    height: auto;
    gap: 32px;
  }
  

  .palette,
  .title6,
  .images-containers {
    width: 100%;
  }

  .title6 {
    padding: 0px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .image1,
  .image4,
  .image5 {
    width: 35%;
    min-width: 150px;
  }

  .image2,
  .image3,
  .image6 {
    width: 55%;
    flex: 1;
    min-width: 100px;
  }

  .industries {
    flex-direction: column;
    padding: 0px 24px 0px 24px;
  }

  .div5,
  .div6 {
    font-size: 80px;
  }

  .div6 {
    left: 150px;
  }

  .footer {
    padding: 80px 64px 80px 64px;
  }

  .header3 {
    width: 260px;
  }

  .title {
    font-size: 42px;
    width: 100%;
    height: 216px;
    line-height: 46px;
  }
}

@media (max-width: 1200px) {

  .menu {
    flex-direction: column;
  }



  .menu__subBox div {
    display: block;
    margin: 5px 0px;
  }

  .menu__subBox {
    display: none;
    height: auto;
    position: absolute;
    z-index: 5;
    top: calc(70% + 8px);
    padding: 10px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 8px;
  }

  .model {
    width: 100%;
    gap: 0px;
    padding: 32px 24px 32px 24px;
  }

  .product {
    height: auto;
  }

  .management-info-text-box {
    flex-direction: column;
  }

  .digitalization {
    width: auto;
  }

  .title6 div {
    font-size: 24px;
    line-height: 110%;
  }

  .title5 {
    font-size: var(--h3-font-size, 34px);
    line-height: var(--h3-line-height, 110%);
  }

  .content,
  .body3 {
    justify-content: center;
    gap: 12px;
  }

  .h-info {
    gap: 32px;
    flex-direction: column;
  }

  .h-info div {
    width: 100%;
    gap: 32px;
  }

  .commercial-info {
    flex-direction: row;
    gap: 32px;

  }

  .dark-screen {
    max-width: 611px;
    height: auto;
  }

  .link,
  .buttons .div {
    display: none;
  }

  .buttons .setting {
    display: flex;
  }

  .menu-title {
    display: flex;
    width: 100px;
    height: 32px;
  }

  .main-menu {
    padding: 16px 24px 16px 24px;
  }

  .logo {
    width: 94px;
    height: 48px;
  }

  .header2 {
    display: none;
  }

  .title4 {
    width: 100%;
    font-size: 34px;
  }

  .dispatcher {
    width: 308px;
    gap: 18px;
  }

  .title7 {
    font-size: 36px;
    line-height: 42px;
  }

  .div6 {
    left: 0px;
  }

  .footer {
    padding: 38px 24px 0px 24px;
  }

  .div5,
  .div6 {
    font-size: 60px;
  }

  .contact {
    flex-direction: column;
    gap: 36px;
  }

  .contact2,
  .left {
    flex-direction: row;
    justify-content: space-between;
    gap: 0px;
    width: auto;
  }

  .content2 {
    gap: 18px;
  }

  .menus {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .menus div {
    max-width: 100%;
  }

  .header4 {
    align-self: flex-start;
    justify-content: start;
    width: 242px;
    padding: 0px;
  }

  .description2 {
    padding: 16px 16px 16px 16px;
  }

  .title8,
  .header5 {
    width: 100%;
  }

  .body8 {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
  }

  .consult-content {
    flex-direction: row;
    padding: 38px 24px 38px 24px;
  }

  .menu {
    gap: 0px;
  }

  .white-screen {
    width: 100%;
    height: auto;
  }

  .header-text-content {
    width: 50%;
  }

  .body2 {
    width: 90%;
    z-index: 3;
  }

  .images-containers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-gap: 20px;
    place-items: center;
  }

  .images-containers img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .image1 {
    grid-column: 1;
    grid-row: 1;
  }

  .image2 {
    grid-column: 2;
    grid-row: 1 / span 2;
  }

  .image3 {
    grid-column: 1;
    grid-row: 2 / span 2;
  }

  .image4 {
    grid-column: 2;
    grid-row: 3;
  }

  .image5 {
    grid-column: 1;
    grid-row: 4;
  }

  .image6 {
    grid-column: 2;
    grid-row: 4 / span 2;
  }
}

@media (max-width: 768px) {
  .header3 {
    width: auto;
  }

  .menu {
    flex-direction: column;
  } 

  .menu__subBox div {
    display: block;
    margin: 5px 0px;
  }

  .menu__subBox {
    display: none;
    height: auto;
    position: absolute;
    z-index: 5;
    top: calc(70% + 8px);
    padding: 10px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 8px;
  }



  .consult-content {
    flex-direction: column;
    width: auto;
    padding: 32px 16px 32px 16px;
  }

  .model {
    flex-direction: column;
    width: 100%;
    padding: 32px 16px 32px 16px;
    justify-content: start;
    align-items: start;
  }

  .body9 {
    gap: 0px;
    height: auto;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .product {
    padding: 0px 16px 0px 16px;
    height: auto;
    align-items: start;
    gap: 22px;
    flex-direction: column-reverse;
  }

  .text-block {
    width: 100%
  }

  .dispatcher {
    flex-direction: column;
    width: 100%;
    ;
  }

  .inner-content {
    gap: 14px;
    justify-content: start;
  }

  .main-menu {
    padding: 16px 16px 16px 16px;
  }

  .logo {
    width: 94px;
    height: 48px;
  }

  .title4 {
    width: 100%;
    font-size: 24px;
  }

  .title7 {
    font-size: 24px;
    line-height: 28px;
  }

  .block-info {
    gap: 4px;
    height: auto;
    width: auto;
  }

  .footer {
    padding: 32px 16px 0px 16px;
  }

  .div5,
  .div6 {
    font-size: 40px;
    justify-content: center;
  }

  .contact2 {
    flex-direction: column;
  }

  .block-info {
    flex: 1 1 calc(100% - 22px);
  }

  ._103 {
    font-size: 24px;
    line-height: 32px;
  }

  .contact {
    gap: 18px;

  }

  .consult-content {
    flex-direction: column;
    justify-content: space-between;
  }

  .commercial-info {
    align-items: start;
    padding: 34px 0px 26px 0px;
    flex-direction: column;
    gap: 22px;
  }

  .dark-screen {
    width: 100%;
    height: auto;
    left: auto;
  }

  .v-info {
    max-width: 100%;
    padding: 0px 16px 0px 16px;
    gap: 22px;
    left: 0;
  }

  .commission {
    width: auto;
  }

  .smart {
    width: auto;
  }

  ._10,
  ._15,
  ._80,
  ._25 {
    width: auto;
    height: auto;
    max-width: 420px;
    flex-direction: row;
    display: flex;
    padding: 18px 0px 0px 2px;
    align-items: center;
    justify-content: start;
    gap: 4px;
    flex-shrink: 0;
  }

  ._102 {
    height: 72px;
    min-width: 138px;
    font-size: 66px;
    font-style: normal;
    font-weight: 300;
    text-align: center;
    display: flex;
    align-items: center;
  }

  .div4 {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    width: auto;
  }

  .content,
  .body3 {
    justify-content: start;
    padding: 0px 0px 0px 0px;
    gap: 0px;
    width: 100%;
    flex-direction: column;

  }

  .body5 {
    width: auto;
  }

  .title2,
  .body3 {
    padding: 0px 16px 0px 16px;
  }

  .div7 {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  }

  li {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

  .title5 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
  }

  .management-info {
    padding: 0px 16px 22px 16px;
    align-items: center;
    gap: 0;
  }

  .header {
    height: 563px;
  }

  .header-text-content {
    padding: 0px 0px 0px 16px;
    display: flex;
    width: auto;
    flex-direction: column;
    z-index: 2;
    justify-content: start;
  }

  .divide {
    position: relative;
    top: 28px;
  }

  .title {
    position: relative;
    display: flex;
    width: 328px;
    height: 216px;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: 42px;
    text-transform: uppercase;
    z-index: 2;
    top: 54px;
  }

  .body2 {
    position: relative;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    top: 102px;
    width: 241px;
    height: auto;
    padding: 0px 0px 0px 0px;
  }

  .button {
    position: relative;
    width: 280px;
    height: 66px;
    top: 140px;
    z-index: 2;
  }

  .seperator {
    left: 16px;
    right: 16px;
  }

  .commission,
  .smart .management .digitalization {
    gap: 12px;
  }

  .body8 {
    align-items: flex-start;
    gap: 22px;
  }

  .industries {
    padding: 0px 16px 0px 16px;
  }

  .images-containers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-gap: 8px;
  }

  .images-containers img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .image1 {
    grid-column: 1;
    grid-row: 1;
  }

  .image2 {
    grid-column: 2;
    grid-row: 1 / span 2;
  }

  .image3 {
    grid-column: 1;
    grid-row: 2 / span 2;
  }

  .image4 {
    grid-column: 2;
    grid-row: 3;
  }

  .image5 {
    grid-column: 1;
    grid-row: 4;
  }

  .image6 {
    grid-column: 2;
    grid-row: 4 / span 2;
  }

  .check-up2 {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  }

  .consult-content {
    gap: 22px;
    padding: 44px 16px 44px 16px;
  }

  .description {
    padding: 22px 0px 22px 0px;
    gap: 0px;
  }

  .description div {
    width: 100%;
  }

  .div10 {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
  }

  .div11 {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  }

  .title6 div {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
  }

  .full-form {
    width: 100%;

  }

  .body8 div {
    width: auto;
  }

  .form2 {
    padding: 16px 16px 16px 16px;
  }

  .mobile-images {
    margin: 0 -100px;
  }

  .management-info-text-box {
    flex-direction: column;
  }

  .div14 {
    justify-content: center;
  }

  .title8 {
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: 42px;
    text-transform: uppercase;
  }

  .body10 {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  }

  .left {
    width: 100%;
    justify-content: space-between;
  }
}